# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
postgres/data/*
postgres/pgadmin-data/*
mysql/data/*
elasticsearch/es-data-es00/*
elasticsearch/es-data-es01/*
elasticsearch/es-data-es02/*

# apps
/node-app/node_modules/*
/node-app/package-lock.json
/flask-app/__pycache__/*
**node_modules**